*,
*::before,
*::after
{
    box-sizing: border-box;
}

html,
body
{
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    color: #cccccc;
}

html
{
    background-color: #000000;
    background-position: center;
}

.container
{
    max-width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

a
{
    color: #ffffff;
    font-weight: bold;
}

img
{
    max-width: 100%;
}

header
{
    text-align: center;
    padding: 2rem;
}

main
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main nav
{
    background-color: rgba( 0, 0, 0, 0.8 );
    width: 100%;
    font-size: 1.3rem;
    border-radius: 1rem;
}

main nav a
{
    display: block;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main nav a .bullet
{
    font-size: 2em;
    color: #ff0000;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
}

main nav a:hover .bullet
{
    color: #F57C00;
}

main nav a.current .bullet
{
    color: #00ff00;
}

main section.content
{
    background-color: rgba( 0, 0, 0, 0.8 );
    width: 100%;
    border-radius: 1rem;
}

main nav h2,
main section.content h2
{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba( 245, 124, 0, 1 );
    margin: 0;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
}

main section.content article
{
    padding: 1rem;
    font-size: 1.3rem;
}

footer
{
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
    color: #cccccc;
}

.a-z
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
}

.a-z ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.a-z h4
{
    font-size: 1.6rem;
}

.a-z li > a
{
    font-weight: normal;
}

@media ( min-width: 800px )
{
    main
    {
        flex-direction: row;
    }

    main nav
    {
        width: 450px;
    }

    .a-z
    {
        flex-direction: row;
        text-align: left;
    }

    .a-z ul
    {
        width: calc( 50% - 1rem );
    }
}