*,
*::before,
*::after
{
    box-sizing: border-box;
}

html,
body
{
    font-size: 1.2rem;
}

html
{
    color: #fff;
    background-color: #2c2138;
    min-height: 100vh;
}

html::before
{
    content: "";
    position: fixed;
    inset: 0;
    background-color: #2c2138;
    background-image: url( '/assets/images/gifs/backgrounds/5HFPCUGHY5MPW7FPDI57HXOFX2VVP6Y7.gif' );
    color: #fff;
    filter: blur(6px) brightness(0.6);
    z-index: -1;
}

body
{
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

a
{
    color: #fff;
}

a:hover
{
    color: #ccc;
}

img
{
    max-width: 100%;
    height: 100%;
}

.logo
{
    max-width: min( 80%, 300px );
    margin-left: auto;
    margin-right: auto;
}

.logo img
{
    image-rendering: pixelated;
}

h1
{
    letter-spacing: 0.03em;
    text-align: center;
}

h1 a
{
    text-decoration: none;
}

form,
#result,
#shareUrl,
#nojs
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #e6c4ff;
    border: 6px solid #8257bb;
    color: #000;
    border-radius: 1rem;
    width: max-content;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

form a,
#result a,
#shareUrl a,
#nojs a
{
    color: #653c9a;
    font-weight: 600;
}

form a:hover,
#result a:hover,
#shareUrl a:hover,
#nojs a:hover
{
    color: #8f69c0;
}

form input[ type = 'text' ]
{
    padding: 0.5rem;
    max-width: 100%;
}

form input[ type = 'text' ],
form button
{
    font-size: 1.2em;
}

form button
{
    padding: 0.4em 0.8em;
    cursor: pointer;
    background-color: #8257bb;
    border: 1px solid #8257bb;
    color: #fff;
    border-radius: 1rem;
}

form button:hover
{
    background-color: #9672c4;
}

#result .text
{
    font-size: 1.4em;
    font-weight: 600;
}

#result,
#shareUrl
{
    display: none;
}

#shareUrl code
{
    font-family: monospace;
    border: 1px solid #ccc;
    background-color: #fff;
}

#calculator
{
    display: none;
}

#swapNamesSpan
{
    display: none;
}

.footer-text
{
    text-align: center;
}
