.davidhunter
{
  --color-dark: #222;
  --color-dark-alt: #333;
  --color-light: #eee;
  --color-light-alt: #fff;
  --color-text: var( --color-dark );
  --color-text-alt: var( --color-dark-alt );
  --color-background: var( --color-light );
  --color-background-alt: var( --color-light-alt );
  --color-text-muted: #888;
  --color-shadow-light: #ddd;
  --color-shadow-dark: #1b1b1b;
  --color-shadow: #ddd;
  
  --font-poppins: 'Poppins', sans-serif;
}

@media( prefers-color-scheme: dark )
{
  .davidhunter
  {
    --color-text: var( --color-light );
    --color-text-alt: var( --color-light-alt );
    --color-background: var( --color-dark );
    --color-background-alt: var( --color-dark-alt );
    --color-shadow: var( --color-shadow-dark );
  }

  .davidhunter .blog-search-form input,
  .davidhunter .blog-search-form button
  {
    background-color: var( --color-text-muted );
  }
}

@media( prefers-color-scheme: light )
{
  .davidhunter header
  {
    --color-shadow: var( --color-shadow-light );
  }

  .davidhunter .blog-search-form input,
  .davidhunter .blog-search-form button
  {
    background-color: var( --color-background-alt );
  }
}

.davidhunter
{
  line-height: 1.6;
  background-color: var( --color-background );
  color: var( --color-text );
}

.davidhunter a
{
  color: var( --color-text );
}

.davidhunter img
{
  max-width: 100%;
}

.davidhunter .container
{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.davidhunter header
{
  background-color: var( --color-background-alt );
  box-shadow: 3px 3px 5px var( --color-shadow );
}

.davidhunter header .container
{
  display: flex;
  flex-direction: column;
}

.davidhunter header .logo
{
  display: flex;
  width: 190px;
}

.davidhunter header .logo .title
{
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.davidhunter header .logo .title a
{
  text-decoration: none;
}

.davidhunter header .logo .tagline
{
  color: var( --color-text-muted );
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  border-left: 1px solid var( --color-text-muted );
  margin-left: 1rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
  font-style: italic;
  line-height: 1.1;
}

.davidhunter header nav
{
  background-color: var( --color-background-alt );
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.davidhunter header nav a
{
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.davidhunter header nav a:hover,
.davidhunter header nav a.current
{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.davidhunter main a
{
  font-weight: 600;
  color: var( --color-text-alt );
}

.davidhunter h2.section-title
{
  font-size: 1rem;
  text-transform: uppercase;
  color: var( --color-text-muted );
  margin: 0;
}

.davidhunter .blog-entries,
.davidhunter .blog-entry
{
  max-width: 800px;
}

.davidhunter .blog-entry
{
  display: flex;
  flex-direction: column;
}

.davidhunter .blog-entries .title
{
  font-size: 1.6rem;
  margin: 0;
  text-transform: uppercase;
}

.davidhunter .blog-entries .metadata .avatar
{
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
  border-radius: 50%;
}

.davidhunter .blog-entry .section-title
{
  margin: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var( --color-text-muted );
}

.davidhunter .blog-entry .title
{
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}

.davidhunter .blog-entry .content .title
{
  font-size: 2.5rem;
  font-weight: 900;
}

.davidhunter .blog-entries .metadata,
.davidhunter .blog-entry .metadata
{
  font-size: 0.8rem;
  margin: 0;
}

.davidhunter .blog-entry .content
{
  order: 1;
}

.davidhunter .blog-entry .content img
{
  margin-left: -1rem;
  margin-right: -1rem;
  max-width: calc( 100% + 2rem );
}

.davidhunter .blog-entry .metadata
{
  order: 2;
  display: flex;
  flex-direction: row;
}

.davidhunter .blog-entry .metadata .avatar img
{
  width: 100px;
  border-radius: 50%;
}

.davidhunter .blog-entries .buttons
{
  display: flex;
}

.davidhunter .blog-entries .buttons a
{
  padding: 0.5rem 1rem;
  background-color: var( --color-background-alt );
  color: var( --color-text-muted );
  border-radius: 8px;
  text-decoration: none;
}

.davidhunter footer
{
  text-align: centerd;
  font-size: 0.8rem;
}

.davidhunter footer .container
{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  line-height: 35px;
}

.davidhunter .home_hero
{
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}

.davidhunter .home_hero .info .head_line_1
{
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
}

.davidhunter .home_hero .into .head_line_1 b
{
  font-weight: 900;
}

.davidhunter .home_hero .info .head_line_2
{
  font-size: 3.3rem;
  font-weight: bold;
  margin: 1rem 0;
}

.davidhunter .home_hero .avatar img
{
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  padding: 1rem;
  background-color: var( --color-background-alt );
}

.davidhunter .blog-search-form
{
  display: none;
}

.davidhunter .blog-search-form fieldset
{
  border-width: 0;
  padding: 0;
}

.davidhunter .blog-search-form input,
.davidhunter .blog-search-form button
{
  border-width: 0;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
}

.davidhunter code.highlight
{
  padding: 2px 4px;
  background-color: var( --color-background-alt );
  border-radius: 4px;
  font-size: 0.9em;
  color: var( --color-text-alt );
}

.davidhunter .projects
{
    position: relative;
}

.davidhunter .projects .container
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.davidhunter .projects .project
{
    background-color: var( --color-background-alt );
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px -1px rgba(0,0,0,.1);
}

.davidhunter .projects .project:hover
{
    transform: translate( 0, -0.25rem ) rotate( 0 ) skewX( 0 ) skewY( 0 ) scaleX( 1 ) scaleY( 1 );
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
}

.davidhunter .projects .project .info
{
    padding: 3rem 1.5rem;
}

.davidhunter .projects .project .title
{
    font-size: 2.5rem;
    font-weight: bold;
}

.davidhunter .projects .project .description
{
    font-size: 1.135rem;
}

.davidhunter .projects .project .url
{
    font-family: monospace;
    letter-spacing: 2px;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 2px;
}

.davidhunter .projects .project .url a
{
    text-underline-offset: 4px;
}

.davidhunter .projects .project .image
{
    --angle: 0deg;
    --angle-alt: 0deg;
    background-position: center;
    background-repeat: no-repeat;
    height: 25vw;
    border-radius: 0 0 0.4rem 0.4rem;
}

.davidhunter pre code
{
  display: block;
  white-space: unset;
}

.davidhunter code
{
  background-color: var( --color-background-alt );
  padding: 0.5rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  word-break: keep-all;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width:800px)
{
  .davidhunter .hide-mobile
  {
    display: none;
  }
}

@media (min-width:800px)
{
  .davidhunter header .container
  {
    flex-direction: row;
    justify-content: space-between;
  }

  .davidhunter header nav
  {
    padding-top: 0;
  }

  .davidhunter header nav a
  {
    padding-top: 1rem;
  }

  .davidhunter .blog-entry
  {
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
  }

  .davidhunter .blog-entry .metadata
  {
    width: 300px;
    margin-top: 20px;
    order: 1;
    flex-direction: column;
  }

  .davidhunter .blog-entry .metadata .avatar img
  {
    width: 150px;
  }

  .davidhunter .blog-entry .content
  {
    max-width: 600px;
    order: 2;
    padding: 1rem;
  }

  .davidhunter .blog-entry .content:first-child
  {
    margin-top: 0;
  }

  .davidhunter .home_hero
  {
    flex-direction: row;
  }

  .davidhunter .home_hero .info
  {
    width: 60%;
  }

  .davidhunter .home_hero .avatar
  {
    width: 40%;
    text-align: right;
  }

  .davidhunter .projects .project
  {
      flex-direction: row;
  }

  .davidhunter .projects .project .info
  {
      width: 60%;
      padding: 5rem 1.5rem;
  }

  .davidhunter .projects .project .image
  {
      --angle: 270deg;
      --angle-alt: -270deg;
      width: 40%;
      height: auto;
  }

  .davidhunter .projects .project .image.left
  {
    border-radius: 0.4rem 0 0 0.4rem;
  }

  .davidhunter .projects .project .image.right
  {
    border-radius: 0 0.4rem 0.4rem 0;
  }

  .davidhunter .hide-desktop
  {
    display: none;
  }
}

/* Responsive Videos (Embed and iFrame) */

.davidhunter embed.video, .davidhunter iframe.video, .davidhunter video.video
{
  aspect-ratio: 16 / 9;
  margin-left: -1rem;
  margin-right: -1rem;
  max-width: calc( 100% + 2rem );
  width: calc( 100% + 2rem );
}
