ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{SERVER_PORT} ^80$ [OR]
    RewriteCond %{HTTP_HOST} !^www.dah5.me.uk$
    RewriteRule ^(.*)$ https://www.dah5.me.uk/$1 [R=307,END]

    RewriteRule ^lovecalculator$ /games/love-calculator [R=307,END]
    RewriteRule ^lc$ /games/love-calculator [R=307,END]
    RewriteRule ^love-calculator$ /games/love-calculator [R=307,END]
    RewriteRule ^games/lovecalculator$ /games/love-calculator [R=307,END]
    RewriteRule ^games/lc$ /games/love-calculator [R=307,END]
    RewriteRule ^game/(.*)$ /games/$1 [R=307,END]
    RewriteRule ^staticphp/?$ https://weburl.net/staticphp [R=307,END]
    RewriteRule ^staticphp/(.*)$ https://weburl.net/staticphp/$1 [R=307,END]
    RewriteRule ^davidhunter/?$ https://weburl.net/davidhunter [R=307,END]
    RewriteRule ^davidhunter/(.*)$ https://weburl.net/davidhunter/$1 [R=307,END]
</IfModule>
